@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
    html {
      font-family: Helvetica, sans-serif;
    }
  }
body {
    background-color: white;
}

.swiper-button-next:after,
.swiper-button-prev:after{
    color: white;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
    background: gray !important;
}
html::-webkit-scrollbar{
    display: none;
}

html{
    scrollbar-width: none;
}
   

